/* menu css */

ul {list-style:none;}

a {text-decoration:none;}

#categories li, .categories li .decade-list .decade {
  display:inline-block; /* this is necessary to help center the submenu and make the items align to the left. Refrain from using "float:left" as it makes "text-align" useless. */
}

#categories li a{
  display:block;
  padding:0 15px;
  margin:0 auto;
}

.category-text{
  width:100px;
  text-align: center;
}

#categories li{
  margin:0 auto;
  padding-bottom: 10px;
  padding-top:5px;
}

/* #category states */

#categories li:hover {
  color:#999999;
}
#categories li:active {
  color:#999999;
}

#categories li a:hover {
  color:#999999;
}



/*decades*/

#categories li .decade-list {
  display:none; /* hides the submenu */
  position:absolute; /* makes it independent of it's father */
  background-color: #000000;categories
  /*text-align:center; /* makes sure the items are centered */
}



#categories li .decade-list .decade a {
  border-bottom: none;
  color:#FFFFFF;
  padding-left:10px;
}

#categories .category:hover .decade-list {
  display:inline; /* shows the submenu when I hover on .category */
  float:left;
  border-radius: 25px;
}

/*years*/

.decade-list li .years-list {
  display:none; /* hides the submenu */
  position:absolute; /* makes it independent of it's father */
  background-color: #000000;categories  
}

#categories li .years-list .years a {
  border-bottom: none;
  color:#FFFFFF;
}

#categories .decade:hover .years-list {
  float:left;
  display:inline; /* shows the submenu when I hover on .decade */
}

/* Used to change font size */
.decade{
  font-size: 20px;
  
}
.years{
  margin:0px;
  font-size: 15px;
  
}

/*rounded corners for decade and years list*/
.decade-list{
  border-radius: 25px;
}
.years-list{
  width:145%;
  border-radius: 25px;
}