body, html,{
	margin:0;
	padding:0;
	width:100%;
	font-family: 'Veridian',"arial"
}

p, strong, a, li{
	font-family: 'Arial', 'Veridian','Arial Narrow', 'sans-serif';
 color:#ffffff;
}

a,li{
	cursor: pointer;
}


/*header*/
#header{
	width:1024px;
	margin:0 auto;
	background-color: black;
	height: 140px;
}
#logo-bgc{
	background-color: black;
}


#logo{
	display:block;
	margin-left: 10px;
	padding-right: 5px;
	float: left;
	padding-top: 10px;
}

/*nav bar*/
#nav{
	margin:0 auto;
	background-color: #000000;

}

#categories {
	background-color: #000000;
	padding-left: 5px;
	padding-top: 10px;
}

.category-text{
	width:88px;
	height:100px;
	padding-right:0;
}

.category{
	text-align: center;
	color:#ffffff;
}

/* menu css */

	ul {list-style:none;}

	a {text-decoration:none;}

	#categories{
		padding-left: 15px;
	}

	#categories li, .categories li .decade-list .decade {
		display:inline-block; /* this is necessary to help center the submenu and make the items align to the left. Refrain from using "float:left" as it makes "text-align" useless. */
	}

	.categories{
		padding-top:5px;
		padding-bottom: 10px;
	}

	.category{
		margin:0 auto;
		padding-bottom: 10px;
		padding-top:20px;
		margin-left: 15px;
	}

	/* #category states */

	.category:hover {
		color:#999999;
	}
	.category:visited{
		background-color:white;
	}





	/*years*/

	#categories li .years-list {
		display:none; /* hides the submenu */
		position:absolute; /* makes it independent of it's father */
		background-color: #000000;
		-webkit-left:35%;
		-moz-left:35%;
		-ms-left:35%;
		-o-left:35%;
		left:35%;
		border-style: solid;
		margin-top: 5px;
	}


@media (max-width:1025px) {
	#categories li .years-list {
		-webkit-left:20%;
		-moz-left:20%;
		-ms-left:20%;
		-o-left:20%:;
		left:20%;
	}
}



	#categories .category:hover .years-list {
		display:inline; /* shows the submenu when I hover on .category */
		float:left;
		border-radius: 25px;

	}

	#categories .years-list .years:hover{
		background-color:#A8A8A8;
		border-radius:15px;

	}

	/* Used to change font size */
	.years{
		font-size: 20px;
		-webkit-padding: 5px 10px;
		-moz-padding: 5px 10px;
		-ms-padding: 5px 10px;
		-o-padding: 5px 10px;
		padding: 5px 10px;
		margin: 0;
	}

/*main body*/
#container {
	margin: 10px auto 10px auto;
	width: 1024px;
	border-style:solid;
	border-width:2px;
	background-color: white;
}

/*funfacts/ left side div*/
.funfacts{
	float: left;
	width:24%;
	background-color: white;
	margin-bottom: 15px;
}

.funfacts img{
	padding-right: 15px;
	padding-left: 20px;
}

.funfacts p{
	font-size: 1em;
	color:#666666;
	margin:0;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 7px;
}

#years-img{
	padding-left: 65px;
}

/*video div*/
.video{
	float: left;
	width:76%;
	padding-top: 5px;
	text-align: center;
}

/*button*/
.btn{
height: 50px;
width: 60px;
}
a .btn:hover{
fill:#999999;
}
.btn-flip{
transform:scale(-1,1);
}

/*facts*/
.facts{
	float:left;
	width:225px;
	text-align: left;
	width:98%;
	color:white;
}
.facts h2{
	margin: 5px 0;
}

#nimoy{
	padding-top: 20px;
	padding-bottom: 2px;
}

.facts li{
	font-size: 16px;
	color:black;
	cursor:auto;
	padding-left: 10px;
	color:#444444;
	line-height: 20px;

}

#finacial h2{
	text-align: center;
	margin-bottom:5px;
	background-color: #006857;
	font-size:20px;
}

#showbiz h2{
	text-align: center;
	margin-bottom:5px;
	background-color: #003874;
	font-size:20px;
}

#others h2{
	text-align: center;
	margin-bottom:5px;
	background-color: #b42033;
	font-size:20px;
}

#ad img{
	margin-top: 1em;
}
form {

	text-align: center;

}
/*interview*/

#invterview{
	float:right;
	width:76%;
}

.thumb-nail{
	margin:0 auto;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 8px ;
	padding-right: 8px;
}


#banner_ad{
	padding-top: 5px;
	clear:both;
	padding-bottom: 5px;
}

/*footer*/
#footer{
	margin-top: 10px;
	width:100%;
	clear:both;
	background-color: #000000;
	font-size:13px;

}

#footer p{
	margin:0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz- center;
	text-align: -o- center;
}
/*Contact Us*/
.about{
	float: left;
	margin-left: 5px;
}
.about p{
	color:#666666;
	font-size: 20px;
}
strong{
	color:#666666;
}
.about a{
	color:#666666;
	font-size: 20px;
}
/*Cinema Page*/
.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: .3em;
}
.cinema h1{
	font-family: "ltc-broadway-engraved";
	font-weight: 700;
	font-size: 5em;
	margin-top: .3em;
}

.cinema-titles{
	font-family: "ltc-broadway","ltc-broadway-engraved", sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	margin: .1em 0;
	color: black;
	order: 3;
}
.red-cinema{
	order: 1;
	margin: .3em 0em .3em 1.7em;
}




.cinema-years {
	order: 1;
}

.flex-column {
	flex-direction: column;
	flex-wrap: wrap;
	width: 350px;
	height: 300px;
}

.cinema-thumb {
	order: 2;
}

.montage {
	background-image: url(../images/1024x1365-background-darker2.jpg);
	margin-right: 10px;
	margin-bottom: 10px;
}

.cinema-text p {
	font-size: 1em;
	padding-top: 1.3em;
}

.red-text {
	color: red;
	font-weight: bold;
}

.thankyou {
	text-align: center;
}

.form p {
	color: black;
}

.flex-row {
	flex-direction: row;
	flex-wrap: wrap;
	width: 340px;
}

.managment {
	float: right;
	width: 240px;
	text-align: center;
}


.form {
	float: left;
	width: 540px;
	padding: 0 2px;
}

.creative {
	float: left;
	width: 240px;
	text-align: center;
}

.creative ul{
	margin-top: 1em;
	font-size: 17px;
	margin-bottom: 5px;
}

.managment ul{
	margin-top: 1em;
	font-size: 17px;
}

.creative ul li {
	list-style: none;
	color: black;
	padding-top: 5px;
	font-size: 20px;
}

.managment ul li {
	list-style: none;
	color: black;
	padding-top: 5px;
	font-size: 20px;
}